@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
body {
    color: #fff; 
    background-image: url(./AmusedDecentLhasaapso-size_restricted.gif);
    background-size: cover;
  }
  
  input {
    background-color: #fffcf7;
  }
  
  #main-section {
    
    display: flex;
    flex-direction: column;
  
    align-items: center;
  }
  
  
  #swap-zone {
    width: 75%;
    margin: 25px auto;
    text-align: center;
    color: rgb(80, 43, 106);
    font-family: 'Kablammo', cursive;
    font-size: 1.5em;
  }
  
  #swap-zone input {
    width: 200px;
    height: 30px;
    font-size: 20px;
    border: 1px solid #fff;
    padding: 7px;
    background-color: #FEE300;
    border-radius: 5px;
    font-family: cursive;
    box-shadow: 0px 0px 4px gray;
  }
  
  #swap-zone button {
    width: 100px;
    height: 45px;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 7px;
    background-color: #FEE300;
    color: rgb(80, 43, 106);
    cursor: pointer;
    transition: 0.5s all;
    font-family: cursive;
    box-shadow: 0px 0px 4px gray;
  }
  #swap-zone button:hover{
      background-color: rgb(228, 188, 11);
      color: white;
  }
  
  #current-turn {
    width: 75%;
    margin: 15px auto;
    text-align: center;
    color: rgb(80, 43, 106);
    font-family: cursive;
    font-size: 1.6em;
  }
  
  #game-div {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #player1,
  #result,
  #player2 {
    width: 25%;
    height: 200px;
    box-sizing: border-box;
    padding: 10px;
    margin: 2%;
    text-align: center;
    vertical-align: top;
    border: 1px solid #fff;
    border-radius: 20px;
    
  }
  #player1,
  #player2{
    box-shadow: 0px 0px 4px gray;
     background-color: #FEE300;
  }
  #result{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kablammo', cursive;
    color: rgb(80, 43, 106);
    
  }
  #player1-name,
  #player2-name {
    color: rgb(80, 43, 106);
    font-family: cursive;
    margin-bottom: 15px;
    font-size: 23px;
    
  }
  
  #player1-chosen,
  #player2-chosen {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 50px;
    color: rgb(80, 43, 106);
    font-family: cursive;
  }
  
  li {
    margin: 12px 0;
    font-size: 24px;
    color: rgb(80, 43, 106);
    font-family: cursive;
    cursor: pointer;
  }

  li:hover{
    font-size: 26px;
    text-shadow: 0px 0px 2px rgb(83, 83, 83);
  }
  .outcomes {
    bottom: 10px;
    width: 90%;
    text-align: center;
  }
  
  .win-lose-text { 
    display: inline-block;
    color: rgb(80, 43, 106);
    font-family: cursive;
  }
  
  #result h2 {
    margin-top: 20px;
    font-size: 60px;
  }
  
  .chatzone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px 40px;
    background-image: url(./qwerty.jpg);
    background-size: 20%;
    border-radius: 20px;

  }
  
  #chat {
    max-width: 750px;
    height: 155px;
    
    margin: 20px auto;
  }
  
  #chat-messages {
    height: 140px;
    border: 2px solid #502B6A;
    overflow: auto;
    border-radius: 5px;
    background-color: white;
    
    font-family: cursive;
  }
  
  #chat-bar {
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
  }
  
  #chat-input {
    width: 540px;
    border-radius: 10px;
    height: 25px;
    font-family: cursive;
    border: none;
    border: 1.5px solid #502B6A;
    color: rgb(80, 43, 106);
    font-size: 1em;
    
  }
  
  #chatSendBtn {
    width: 60px;
    border-radius: 5px;
    cursor: pointer;
    font-family: cursive;
    border: none;
    border: 1.5px solid #502B6A;
    background-color: white;
    color: rgb(80, 43, 106);
    transition: 0.5s all;
  }
  #chatSendBtn:hover{
    background-color: #502B6A;
    color: white;
  }
  .player1 {
    color: #419d78;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: #fee50098;
  }
  
  .player2 {
    color: #5665d3;
    padding-left: 5px;
    background-color: #fee50098;
    padding-bottom: 5px;
  }
  
  .player0 {
    color: #000;
    padding-left: 5px;
    background-color: #fee50098;
    padding-bottom: 5px;
  }
  